h1 {
  color: green;
}

h2 {
  font-style: italic;
  color: greenyellow;
}

p {
  color: goldenrod;
}

body {
  background-color: grey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}